In [1]:
from source import NonParamGaussianCopulaSynthesizer
import pandas as pd

In [2]:
df = pd.read_csv("datasets/adult.csv") 
print(df.head())
df.info()

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
<class 'pandas.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  str
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  str
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  str
 6   occupation      47876 non-null  str
 7   relationship    48842 non-null  str
 8   race            48842 non-null  str
 9   sex             48842 non-null  str
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  str
 14  income          48842 non-null  str
dtypes: int64(6), str(9)
memory usage: 9.3 MB

In [3]:
synth = NonParamGaussianCopulaSynthesizer()

In [4]:
synth.fit(df)

In [9]:
synth.load("models/synthetic_model_1.pkl")

In [10]:
synthetic_df = synth.sample(num_rows=1000)

In [11]:
print(synthetic_df.head())
synthetic_df.info()

   age    workclass  fnlwgt     education  education-num      marital-status  \
0   35      Private   37435       HS-grad             10  Married-civ-spouse
1   53      Private  177895     Bachelors             10       Never-married
2   50      Private  197665       Masters             10  Married-civ-spouse
3   68          NaN   72793  Some-college             10  Married-civ-spouse
4   28  Federal-gov  156612     Bachelors              8  Married-civ-spouse

       occupation relationship   race     sex  capital-gain  capital-loss  \
0  Prof-specialty      Husband  White  Female             0             0
1           Sales      Husband  White    Male             0             0
2           Sales      Husband  White    Male             0             0
3   Other-service    Own-child  White    Male             0             0
4   Other-service      Husband  White    Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              40    Puerto-Rico  <=50K
2              30  United-States   >50K
3              48  United-States  <=50K
4              40  United-States  <=50K
<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1000 non-null   int64
 1   workclass       977 non-null    str
 2   fnlwgt          1000 non-null   int64
 3   education       1000 non-null   str
 4   education-num   1000 non-null   int64
 5   marital-status  1000 non-null   str
 6   occupation      986 non-null    str
 7   relationship    1000 non-null   str
 8   race            1000 non-null   str
 9   sex             1000 non-null   str
 10  capital-gain    1000 non-null   int64
 11  capital-loss    1000 non-null   int64
 12  hours-per-week  1000 non-null   int64
 13  native-country  995 non-null    str
 14  income          1000 non-null   str
dtypes: int64(6), str(9)
memory usage: 195.2 KB

In [7]:
synthetic_df.to_csv("datasets/synthetic_data.csv", index=False)

In [8]:
synth.save("models/synthetic_model_1.pkl")